@font-face {
    font-family: 'KingTrufle';
    src: url('KingTrufle-Regular.eot');
    src: url('KingTrufle-Regular.eot?#iefix') format('embedded-opentype'),
         url('KingTrufle-Regular.woff') format('woff'),
         url('KingTrufle-Regular.ttf') format('truetype');
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

